/home/vinay/Desktop/vinay/Potato-Disease/models/1/variables*
/home/vinay/Desktop/vinay/Potato-Disease/models/1/saved_model.pb
/home/vinay/Desktop/vinay/Potato-Disease/models/1/keras_metadata.pb
/home/vinay/Desktop/vinay/Potato-Disease/models/1.zip